body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: black;
}

.btn-primary {
  border-color: black;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #06AED5;
  color: white;
  height: 96%;
  width: 50%;
}

.saveBtn:disabled {
  background-color: gray;
  border-color: grey;
}

/* Font-sizing for the '24 hour clock' setting name */
.custom-control-label {
  font-size: 23px;
}

/* Added some slight margin to the text area so there's a little bit of a gap between them */
.col-sm-10 {
  margin-bottom: 3px;
}

/* Media */
@media(max-width: 640px) {
  /* The save button on mobile was not responsive, so this CSS will fix it on mobile */
  .saveBtn {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    height: 52px;
    margin-top: 17px;
    position: absolute;
    right: 0;
    width: 65px;
  }

  /* Also have to adjust the text area size so it doesn't take up the entire width*/
  .col-sm-10 {
    margin-bottom: 10px;
    width: 350px;
  }
}

/* iPhone 5/SE */
@media(max-width: 320px) {
  /* Change the font-size of 'Work Day Scheduler' to 60px, otherwise it will overflow*/
  .display-3 {
    font-size: 60px;
  }

  /* Set the textarea to a smaller width so that way the text doesn't go underneath the save button */
  .col-sm-10 {
    width: 255px;
  }
}